#body{
    background:linear-gradient(90deg,purple,navy,purple)!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.main-heading{
    font-family: Chiller;
}